.footer {
  border-top: 1px solid $form-border-color;
}

.footer__box {
  @extend %flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px auto;
}

.footer__box-text {
  color: $section-title-color;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: none;
}

.footer__box-text--color-red {
  color: $services-headline-underline-color;
}

.footer__form-email {
  width: 230px;
  height: 40px;
  border: 1px solid $form-border-color;
  background-color: $primary-white-color;
  color: $services-text-color;
  font-weight: 300;
  font-style: italic;
  outline: none;
  padding: 1rem;
}

.footer__form-btn {
  width: 150px;
  height: 40px;
  background-color: $services-icon-color;
  color: $primary-white-color;
  font-size: 14px;
  border: none;
  outline: none;
  transition: all 200ms linear;
}

.footer__form-btn:hover {
  background-color: $text-hover-color;
}
