$font-monsterrat: 'Montserrat', sans-serif;
$font-kaushan: 'Kaushan Script', cursive;
$font-roboto: 'Roboto', sans-serif;

$primary-white-color: #fff;
$text-hover-color: #fce38a;
$section-title-color: #333;
$services-text-color: #999;
$services-headline-underline-color: #f38181;
$services-icon-color: #95e1d3;
$form-border-color: #e5e5e5;
$line-gradient: linear-gradient(
  to top,
  rgba(252, 227, 138, 0.9) 0%,
  rgba(243, 129, 129, 0.9) 100%
);

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .container-fluid {
    background: url(../images/eagle@2x.png);
    background-position: center;
    background-size: cover;
  }
}
