html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    font-size: 0px;
}

.site-navigation {
    width: 900px;
    margin: 0 auto;
    padding: 0 auto;
}

.site-navigation-menu {
    padding: 77px 0 104px 123px;
}

.site-navigation-list {
    font-size: 14px;
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0;

}

.site-navigation-item {
    display: inline-block;
}

.site-navigation-link {
    color: #626262;
    font-family: "Playfair Display";
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 100px;
    margin: 0 auto;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
    color: #03a9f4;
}

.puzzle .puzzle-block {
    width: 420px;
    display: inline-block;
    margin-right: 60px;
    vertical-align: top;
}

.puzzle .puzzle-block:last-of-type {
    margin-right: 0px;
}

.puzzle-block-headline1 {
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 0 28px 1px;
}

.puzzle-block-headline2 {
    font-size: 30px;
    font-weight: 400;
    padding: 0px 0px 34px 1px;
}

.puzzle-block-paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    padding: 0 0 132px 1px;
    overflow: visible;
}

.button {
    text-align: center;
    margin-bottom: 70px;
}

.button-button {
    color: #626262;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #626262;
    background: transparent;
    padding: 21px 34px 22px;
}